// --- Default CSS ---
@import "normalise.scss";
@import "nullstyle.scss";
//@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&family=Oswald&family=Source+Sans+Pro&display=swap");

// --- Fonts mixins ---
@mixin fonts_Lato {
    font-family: "Lato", sans-serif;
}
@mixin font_Montserat {
    font-family: "Montserrat", sans-serif;
}

@mixin subtitle {
    color: #414141;

    font-weight: bold;

    @media (min-width: 1181px) {
        font-size: 18px;
        line-height: 22px;
    }

    @media (max-width: 1180px) {
        @include adaptiv-value(font-size, 18, 12);
        @include adaptiv-value(line-height, 22, 16);
    }
}

@mixin content_text {
    color: #6c6c6c;

    @media (min-width: 1181px) {
        line-height: 28px;
        font-size: 16px;
    }

    @media (max-width: 1180px) {
        @include adaptiv-value(font-size, 16, 11);
        @include adaptiv-value(line-height, 28, 18);
    }
}

@mixin button {
    text-align: center;
    border: #979797 1px solid;
    border-radius: 5px;

    @media (min-width: 1181px) {
        height: 53px;
        font-size: 18px;
        width: 192px;
    }

    @media (max-width: 1180px) {
        @include adaptiv-value(font-size, 18, 11);
        @include adaptiv-value(width, 192, 70);
        @include adaptiv-value(height, 53, 30);
    }
}

$maxWidth: 1180;

@mixin adaptiv-value($property, $startSize, $minSize) {
    $addSize: $startSize - $minSize;
    $maxWidth: $maxWidth - 320;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

//------Common---------//

body {
    @include fonts-Lato();
    *box-sizing: border-box;
}

.section-inner {
    margin: 0 auto;
    max-width: 1180px;
    overflow: hidden;
    min-height: 100vh;
}

//---- / Common ------//

//---- Media ----- //

//---- Header ------//
.section__header {
    color: #fff;
    background: url(../img/image1.png) 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;

    .section-inner {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #142729;
        opacity: 47%;
        z-index: 5;
    }

    &__logo {
        font-weight: bold;

        @media (min-width: 1181px) {
            padding-top: 35px;
            font-size: 24px;
        }

        @media (max-width: 1180px) {
            @include adaptiv-value(padding-top, 35, 20);
            @include adaptiv-value(font-size, 24, 16);
        }
    }

    &__content {
        display: flex;
        flex-grow: 1;
        align-items: center;

        &__wrapper {
            margin: 0 auto;

            &__title {
                text-align: center;
                font-weight: bold;

                @media (min-width: 1181px) {
                    font-size: 55px;
                    line-height: 60px;
                    margin-bottom: 16px;
                }

                @media (max-width: 1180px) {
                    @include adaptiv-value(margin-bottom, 16, 12);
                    @include adaptiv-value(margin-left, 0, 2);
                    @include adaptiv-value(margin-right, 0, 2);
                    @include adaptiv-value(line-height, 60, 32);
                    @include adaptiv-value(font-size, 55, 24);
                }
            }
            &__subtitle {
                @include font_Montserat();
                text-align: center;

                max-width: 80%;
                margin: 0 auto;

                @media (min-width: 1181px) {
                    line-height: 32px;
                    font-size: 18px;
                    margin-bottom: 44px;
                }

                @media (max-width: 1180px) {
                    @include adaptiv-value(font-size, 18, 12);
                    @include adaptiv-value(line-height, 32, 18);
                    @include adaptiv-value(margin-bottom, 44, 24);
                }
            }

            &__form {
                max-width: 100%;
                margin: 0 auto;
                display: flex;

                border-radius: 4px;
                transition-duration: 0.2s;

                &__input {
                    flex: 1 1 auto;
                    @include font_Montserat();
                    min-width: 70px;
                    border: none;
                    background: rgba($color: #ffffff, $alpha: 0.25);
                    color: #fff;

                    @media (min-width: 1181px) {
                        padding: 16px 10px;
                        margin: 0 10px;
                        font-size: 16px;
                    }

                    @media (max-width: 1180px) {
                        margin-left: 8px;
                        margin-right: 8px;
                        @include adaptiv-value(font-size, 16, 12);
                        @include adaptiv-value(padding-top, 16, 2);
                        @include adaptiv-value(padding-bottom, 16, 2);
                        @include adaptiv-value(padding-left, 10, 4);
                        @include adaptiv-value(padding-right, 10, 4);
                        @include adaptiv-value(width, 300, 0);
                    }

                    &:focus {
                        background: rgba($color: #ffffff, $alpha: 0.5);
                    }

                    &::placeholder {
                        color: #fff;
                    }
                }

                &__button {
                    @include button();
                    color: #fff;
                    border: none;
                    background: linear-gradient(to right, #fe985b, #fe4fa7);

                    @media (min-width: 1181px) {
                        margin: 0 10px;
                        padding: 16px 10px;
                    }

                    @media (max-width: 1180px) {
                        @include adaptiv-value(margin-right, 10, 5);
                        @include adaptiv-value(margin-left, 10, 5);
                        @include adaptiv-value(padding-top, 16, 8);
                        @include adaptiv-value(padding-bottom, 16, 8);
                        @include adaptiv-value(padding-left, 10, 5);
                        @include adaptiv-value(padding-right, 10, 5);
                        min-width: 70px;
                    }

                    &:hover {
                        background: linear-gradient(to left, #fe985b, #fe4fa7);
                    }
                }
            }
        }
    }
}

//---- / Header ------//

//----- Promo text-----//

.section__promo {
    @media (min-width: 1181px) {
        padding: 120px 0 120px 0;
    }

    @media (max-width: 1180px) {
        @include adaptiv-value(padding-top, 120, 50);
        @include adaptiv-value(padding-bottom, 120, 50);
    }

    &__content {
        &__promo-first {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (min-width: 1181px) {
                padding-bottom: 50px;
            }

            @media (max-width: 1180px) {
                @include adaptiv-value(padding-bottom, 50, 25);
            }

            &__body {
                @include fonts_Lato();

                @media (min-width: 1181px) {
                    padding-right: 200px;
                }

                @media (max-width: 1180px) {
                    @include adaptiv-value(padding-right, 200, 5);
                    @include adaptiv-value(padding-left, 0, 5);
                }
            }

            &__title {
                color: #414141;
                font-weight: bold;
                text-align: center;

                @media (min-width: 1181px) {
                    font-size: 36px;
                    line-height: 51px;
                    padding-bottom: 56px;
                }

                @media (max-width: 1180px) {
                    @include adaptiv-value(font-size, 36, 12);
                    @include adaptiv-value(line-height, 51, 18);
                    @include adaptiv-value(padding-bottom, 56, 10);
                }
            }

            &__subtitle {
                @include subtitle;

                @media (min-width: 1181px) {
                    padding-bottom: 20px;
                }

                @media (max-width: 1180px) {
                    @include adaptiv-value(padding-bottom, 20, 10);
                }
            }
            &__text {
                text-align: left;

                @include content_text();

                @media (min-width: 1181px) {
                    padding-bottom: 20px;
                }

                @media (max-width: 1180px) {
                    @include adaptiv-value(padding-bottom, 20, 12);
                }
            }
            &__video {
                position: relative;
                z-index: 11;

                width: 1200px;
                height: 100%;

                & img {
                    width: 100%;
                    height: auto;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;

                    position: relative;
                    border-radius: 5px;
                    z-index: 14;

                    min-width: 300px;
                }

                &::before {
                    content: "";
                    background-color: #142729;
                    border-radius: 5px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 38%;
                    z-index: 15;
                }
                &::after {
                    content: "";
                    background: url(../img/Triangle.png) center/3% no-repeat, url(../img/Oval.png) center/15% no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 100%;

                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 16;
                }
            }

            @media (max-width: 628px) {
                .section__promo__content__promo-first__body {
                    margin: 0;
                    padding: 0;
                }
                display: flex;
                flex-direction: column-reverse;

                align-items: center;
                @include adaptiv-value(width, 620, 250);

                margin: 0 auto;

                text-align: center;

                &__video {
                    display: block;
                    width: 300px;
                    height: auto;
                    overflow: hidden;
                    margin-bottom: 10px;
                    & img {
                        object-fit: contain;
                        width: 30px;
                        height: 10%;
                        overflow: hidden;
                    }
                }
            }
        }

        &__promo-second {
            @media (min-width: 1181px) {
                margin-top: 50px;
            }

            @media (max-width: 1180px) {
                @include adaptiv-value(margin-top, 50, 20);
            }

            &__row {
                display: flex;
                text-align: center;
            }
            &__column {
                &__pic {
                    @media (min-width: 1181px) {
                        margin-bottom: 25px;
                    }

                    @media (max-width: 1180px) {
                        @include adaptiv-value(margin-bottom, 25, 12);
                    }
                }
                &__title {
                    @include subtitle();
                    @media (min-width: 1181px) {
                        margin-bottom: 25px;
                    }

                    @media (max-width: 1180px) {
                        @include adaptiv-value(margin-bottom, 25, 12);
                    }
                }
                &__text {
                    @include content_text();
                    // padding: 0 25px;
                }
            }
            &__column + &__column {
                @media (min-width: 1181px) {
                    margin-left: 50px;
                }

                @media (max-width: 1180px) {
                    @include adaptiv-value(margin-left, 50, 20);
                }
            }
        }
    }
}

//----- / Promo text-----//

//----- Founder -----//
.section__founder {
    &__content {
        .section-inner {
            height: 200px;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        @media (min-width: 1181px) {
            padding-top: 30px;
        }

        @media (max-width: 1180px) {
            @include adaptiv-value(margin-top, 30, 15);
        }

        &__image {
            width: 100%;
            height: 800px;
            position: relative;

            & img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                max-height: 140%;
                max-width: 140%;
                margin: auto;

                @media (min-width: 1181px) {
                }

                @media (max-width: 1180px) {
                    min-height: auto;
                    min-width: 150px;
                }
            }
        }

        &__body {
            @media (min-width: 1181px) {
                margin: 0 40px 40px 130px;
                padding-right: 60px;
            }

            @media (max-width: 1180px) {
                @include adaptiv-value(padding-right, 60, 2);
                @include adaptiv-value(margin-right, 40, 12);
                @include adaptiv-value(margin-top, 40, 12);
                @include adaptiv-value(margin-bottom, 40, 12);
                @include adaptiv-value(margin-left, 130, 130);
            }
        }
        &__text {
            color: #414141;
            @media (min-width: 1181px) {
                line-height: 40px;
                font-size: 24px;
            }

            @media (max-width: 1180px) {
                @include adaptiv-value(font-size, 24, 10);
                @include adaptiv-value(line-height, 40, 15);
            }
        }
        &__sings {
            color: #414141;

            @media (min-width: 1181px) {
                font-size: 20px;
                line-height: 24px;
            }

            @media (max-width: 1180px) {
                @include adaptiv-value(font-size, 20, 12);
                @include adaptiv-value(line-height, 24, 16);
                @include adaptiv-value(padding-top, 20, 14);
            }

            &__span {
                font-weight: bold;

                @media (min-width: 1181px) {
                    font-size: 24px;
                    line-height: 29px;
                }

                @media (max-width: 1180px) {
                    @include adaptiv-value(font-size, 24, 12);
                    @include adaptiv-value(line-height, 29, 15);
                }
            }
        }
    }
}

//----- / Founder -----//

//----- Plans -----//

.section__plans {
    &__wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;

        @media (min-width: 1181px) {
            margin: 100px 0;
        }

        @media (max-width: 1180px) {
            @include adaptiv-value(margin-top, 100, 20);
            @include adaptiv-value(margin-bottom, 100, 20);
        }
    }
    &__title {
        color: #414141;
        font-weight: bold;

        @media (min-width: 1181px) {
            font-size: 36px;
            line-height: 51px;
            margin: 100px 0 0 0;
        }

        @media (max-width: 1180px) {
            @include adaptiv-value(margin-top, 100, 50);
            @include adaptiv-value(font-size, 36, 16);
            @include adaptiv-value(line-height, 51, 18);
        }

        &__description {
            @include content_text();
            text-align: center;
            margin: 0 auto;

            @media (min-width: 1181px) {
                width: 550px;
            }

            @media (max-width: 1180px) {
                @include adaptiv-value(padding-top, 20, 15);
                @include adaptiv-value(padding-bottom, 60, 20);
                @include adaptiv-value(width, 550, 200);
            }
        }
    }

    &__row {
        display: flex;

        justify-content: center;

        @media (min-width: 1181px) {
            margin: 60px 100px;
        }

        @media (max-width: 1180px) {
            @include adaptiv-value(margin-top, 60, 20);
            @include adaptiv-value(margin-bottom, 60, 20);
            @include adaptiv-value(margin-left, 100, 20);
            @include adaptiv-value(margin-right, 100, 20);
        }

        &__column {
            display: flex;
            align-items: center;

            flex-direction: column;
            flex-basis: 370px;

            &__price {
                .prefix {
                    font-weight: bold;
                    color: #fe4fa7;

                    @media (min-width: 1181px) {
                        font-size: 72px;
                        line-height: 86px;
                    }

                    @media (max-width: 1180px) {
                        @include adaptiv-value(line-height, 86, 46);
                        @include adaptiv-value(font-size, 86, 36);
                    }
                }
                .postfix {
                    font-weight: bold;
                    color: #414141;

                    @media (min-width: 1181px) {
                        font-size: 14px;
                        line-height: 17px;
                    }

                    @media (max-width: 1180px) {
                        @include adaptiv-value(line-height, 17, 12);
                        @include adaptiv-value(font-size, 14, 10);
                    }
                }

                &__title {
                    color: #414141;
                    font-weight: bold;
                    text-transform: uppercase;

                    @media (min-width: 1181px) {
                        font-size: 14px;
                        padding-bottom: 15px;
                    }

                    @media (max-width: 1180px) {
                        @include adaptiv-value(padding-bottom, 15, 10);
                        @include adaptiv-value(font-size, 14, 10);
                    }
                }
            }
            &__text {
                @include content_text();

                @media (min-width: 1181px) {
                    padding: 30px 40px;
                }

                @media (max-width: 1180px) {
                    @include adaptiv-value(padding-bottom, 30, 15);
                    @include adaptiv-value(padding-top, 30, 15);
                    @include adaptiv-value(padding-left, 40, 15);
                    @include adaptiv-value(padding-right, 40, 15);
                }
            }
        }
    }
}
.button-link {
    @include button();
    border: none;
    color: #fff;
    background: linear-gradient(to right, #fe985b, #fe4fa7);
    text-decoration: none;

    &:hover {
        background: linear-gradient(to left, #fe985b, #fe4fa7);
    }
}

//----- / Plans -----//

//----- Free-section -----//
.section__free {
    background: linear-gradient(to right, #fe985b, #fe4fa7);
    width: 100%;

    &__wrapper {
        @media (min-width: 1181px) {
            padding: 200px;
        }

        @media (max-width: 1180px) {
            @include adaptiv-value(padding, 200, 20);
        }

        text-align: center;

        &__title {
            font-weight: bold;
            color: #fff;

            @media (min-width: 1181px) {
                font-size: 55px;
                line-height: 60px;
                padding-bottom: 35px;
            }

            @media (max-width: 1180px) {
                @include adaptiv-value(font-size, 55, 20);
                @include adaptiv-value(line-height, 60, 30);
                @include adaptiv-value(padding-bottom, 35, 20);
            }
        }
        &__text {
            color: #fff;

            margin-left: 37%;
            margin-right: 37%;

            @media (min-width: 1181px) {
                font-size: 20px;
                line-height: 30px;
                padding-bottom: 40px;
            }

            @media (max-width: 1180px) {
                @include adaptiv-value(font-size, 20, 12);
                @include adaptiv-value(line-height, 30, 20);
                @include adaptiv-value(padding-bottom, 40, 120);
                margin: 0 25%;
            }
        }
    }
}

.button-link2 {
    @include button();
    background-color: #fff;
    color: #414141;

    transition-duration: 0.2s;
    &:hover {
        border-color: #fe4fa7;
        color: #fe4fa7;
    }
}

.button-link3 {
    transition: 0.2s;
    &:hover {
        border: #979797 1px solid;
    }
}

//----- / Free-section -----//

//----- Footer -----//
.section__footer {
    text-align: center;

    @media (min-width: 1181px) {
        margin-top: 70px;
    }

    @media (max-width: 1180px) {
        @include adaptiv-value(font-size, 70, 20);
    }

    &__logo {
        @include subtitle();
        margin-bottom: 10px;
        margin-top: 10px;
    }
    &__nav {
        display: flex;
        justify-content: center;

        &_li {
            text-transform: uppercase;
            font-weight: bold;
            color: #464646;
            transition: 0.2s;

            @media (min-width: 1181px) {
                font-size: 14px;
                line-height: 20px;
                padding-bottom: 40px;
            }

            @media (max-width: 1180px) {
                @include adaptiv-value(font-size, 14, 9);
                @include adaptiv-value(line-height, 20, 12);
                @include adaptiv-value(padding-bottom, 50, 10);
            }
        }

        &_li:hover {
            color: #fe50a6;
        }

        li + li {
            @media (min-width: 1181px) {
                margin-left: 50px;
            }

            @media (max-width: 1180px) {
                @include adaptiv-value(margin-left, 50, 12);
            }
        }
    }
    &__img-li {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        @media (min-width: 1181px) {
            padding: 30px 0;
        }

        @media (max-width: 1180px) {
            @include adaptiv-value(padding-top, 30, 10);
            @include adaptiv-value(padding-bottom, 30, 10);
        }

        li + li {
            @media (min-width: 1181px) {
                padding-left: 15px;
            }

            @media (max-width: 1180px) {
                @include adaptiv-value(padding-left, 15, 10);
            }
        }
    }

    &__copyright {
        display: flex;
        justify-content: center;

        @media (min-width: 1181px) {
            padding-bottom: 20px;
            font-size: 14px;
        }

        @media (max-width: 1180px) {
            @include adaptiv-value(padding-bottom, 20, 10);
            @include adaptiv-value(font-size, 14, 9);
        }

        li + li {
            @media (min-width: 1181px) {
                margin-left: 20px;
            }

            @media (max-width: 1180px) {
                @include adaptiv-value(margin-left, 20, 10);
            }
        }
        li:hover {
            text-decoration: underline;
        }
    }
}
//----- / Footer -----//
